:root {
  --primary-bg-color: #2f303a;
  --primary-text-color: #2196f3;
  --secondary-text-color: #000000;
  --third-text-color: #ffffff;
  --main-text-color: #757575;
  --header-color: #212121;
  --secondary-bg-color: #f5f4fa;
  --header-line-color: #ececec;
}
body {
  font-family: Roboto, sans-serif;
}

/* Шапка */
.header-container {
  margin-left: auto;
  margin-right: auto;
}
.header {
  width: 100%;
  border-bottom: 1px solid var(--header-line-color);
  background: var(--third-text-color);
}
.title {
  /*   outline: solid 5px tomato; */
  padding: 25px 93px 25px 215px;
  margin-top: 50px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var (var(--secondary-text-color));
}
.title-properties {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: var(--primary-text-color);
}
.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.navigation-header {
  align-items: center;
  display: flex;
}
.navigation-header .item {
  list-style-type: none;
}
.navigation-header .item:not(:last-child) {
  margin-right: 50px;
}
.item :hover,
.item :focus {
  color: var(--primary-text-color);
}
.link-decor {
  display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
}
.item {
  list-style-type: none;
}
.nav-cont {
  display: flex;
  margin-left: 331px;
  align-items: center;
}
.link-decor::before {
  content: "";
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-image: url(../images/svg/envelope.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.nav-cont .link-decor {
  color: var(--main-text-color);
}
.nav-cont .item + .item {
  margin-left: 50px;
}
.contacts :hover {
  color: var(--primary-text-color);
}

/* Герой */
.main-container {
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  background-color: var(--primary-bg-color);
}
.main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Фон_героя.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 200px;
}
.main-title {
  display: inline-block;
  width: 696px;
  margin-left: 452px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
}
.main-button {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  min-width: 200px;
  min-height: 50px;

  cursor: pointer;
  background: var(--primary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  color: var(--third-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* Атрибути компанії */

.atributes-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.atributes {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 94px;
  margin-bottom: 94px;
  min-height: 101px;
  width: 1170px;

  list-style: none;
}
.list-item {
  margin-right: 30px;
}
.list-item:nth-child(4n) {
  margin-right: 0px;
}
.art-icon {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}
.atr-title {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.atributes-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.container-gallery {
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
  height: 386px;
}
.gallery-1-title {
  display: block;
  text-align: center;
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.gallery-1 {
  display: flex;
  width: calc ((100% - 60px) / 3);
  list-style: none;
}

.img-gallery-1 {
  height: 294px;
  margin-right: 30px;
  object-fit: cover;
}
.img-gallery-1:nth-child(3n) {
  margin-right: 0;
}
.container-gallery .img-gallery-1 {
  display: inline-block;
}

/* Секція з командою */
.our-team {
  height: 648px;
  margin-top: 94px;
  background: var(--secondary-bg-color);
}
.flex-container {
  display: flex;
  text-align: center;
  justify-content: center;
}
.flex-container-title {
  padding-top: 94px;
  padding-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.flex-item {
  margin-right: 30px;
  max-width: 270px;
  height: 428px;

  background-color: #fff;
  font-weight: 400;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  list-style: none;
}
.social-icons-list {
  display: flex;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.social-icons {
  margin-right: 10px;
  border-radius: 50%;
}
.social-icons:nth-child(4n) {
  margin-right: 0;
}
.social-icons:hover {
  background-color: #2196f3;
}
.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
}
.social-icons-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.social-icons-svg:hover {
  fill: #fff;
}
.flex-item:nth-child(4n) {
  margin-right: 0;
}
.name {
  padding-top: 30px;
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}
.job-title {
  display: inline-block;
  padding-bottom: 16px;

  color: var(--main-text-color);
}
/* Параметри для сторінки Портфоліо */
.filter-container {
  margin-right: auto;
  margin-left: auto;
  width: 1230px;
  height: 1376px;
  margin-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}
.filter {
  display: flex;
  margin-top: 94px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  width: 611px;
  height: 54px;
}
.filter-button {
  display: inline-block;
  padding-top: 6px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 6px;

  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: Roboto;
  border: transparent;

  background: var(--secondary-bg-color);
  border-radius: 4px;
}
.filter .filter-button + .filter-button {
  margin-left: 8px;
}
.filter-button:hover {
  color: #ffffff;
  background-color: var(--primary-text-color);
}
.our-projects {
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  list-style-type: none;
}
.flex-cont-portf {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}
.flex-cont-portf:nth-child(3n) {
  margin-right: 0px;
}
.flex-cont-portf:nth-child(n + 7) {
  margin-bottom: 0px;
}
.second-page-title {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding-top: 20px;
  padding-left: 24px;
  color: var(--header-color);
}
.second-page-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.85;
  padding-left: 24px;
  color: var(--main-text-color);
}

/* Підвал сторінки */
#contacts {
  display: flex;
  width: 100%;
  background: var(--primary-bg-color);
}
.footer-container {
  display: flex;
  width: 1170px;
  justify-content: left;
  max-height: 146px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}
.contacts {
  /* padding-top: 60px; */
  list-style-type: none;
}
.contacts-title {
  padding-bottom: 20px;
  color: var(--third-text-color);
}
.contacts-title span {
  color: var(--primary-text-color);
}
.footer-title {
  /* margin-top: 60px; */
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var (var(--secondary-text-color));
}
.footer {
  /* padding-bottom: 60px; */
}
.contacts .link-decor {
  margin-bottom: 9px;
  height: 21px;
}
.contacts-link {
  display: inline-block;
  height: 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.map .link-decor {
  color: var(--third-text-color);
}
.contacts-link {
  color: rgb(255, 255, 255, 0.6);
}
.footer-join {
  display: inline-block;
  padding-top: 12px;
  padding-left: 70px;
  /* align-items: flex-start;
  flex-wrap: wrap;
  width: 206px;
  height: 80px; */
}
.footer-join-title {
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  color: var(--third-text-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.social-icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.social-icons {
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.social-icons:nth-child(4n) {
  margin-right: 0;
}
.social-icons:hover {
  background-color: #2196f3;
}
.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-footer-svg {
  width: 20px;
  height: 20px;
  fill: var(--third-text-color);
}
.social-icons-svg:hover {
  fill: #fff;
}
